{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-12 mt-auto mb-5">
                <h1 class="display-4 logo-font text-white index-main-font main-title font-small">
                    WE'VE GOT YOUR BACK
                </h1>
                <div class="mb-5 index-links index-links-mob">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded text-uppercase py-2 mr-md-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
