{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 col-md-12 my-auto">
                <h1 class="display-4 logo-font text-white my-5">
                    WE'VE GOT YOUR BAG
                </h1>
                <div class="my-6">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-5 text-uppercase py-1.5 mr-md-3">School Backpacks</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-2 text-uppercase py-1.5 mr-md-3">Laptop Backpacks</a>
                        <a href="" class="shop-now-button btn btn-lg rounded-2 text-uppercase py-1.5">Duffels</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
