<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="everyday-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Everyday Backpacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="everyday-link">
                <a href="" class="dropdown-item">School Backpacks</a>
                <a href="" class="dropdown-item">Commuter Backpacks</a>
                <a href="" class="dropdown-item">Laptop Backpacks</a>
                <a href="" class="dropdown-item">Mini Backpacks</a>
                <a href="" class="dropdown-item">All Everyday Backpacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="travel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Travel & Outdoor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="travel-link">
                <a href="" class="dropdown-item">Suitcases</a>
                <a href="" class="dropdown-item">Hiking Backpacks</a>
                <a href="" class="dropdown-item">Duffels</a>
                <a href="" class="dropdown-item">Skate Backpacks</a>
                <a href="" class="dropdown-item">All Travel & Outdoor Backpacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>