{% extends "base.html" %}
{% load static %}
 
 {% block page_header %}
 <div class="container header-container">
     <div class="row">
         <div class="col"></div>
     </div>
 </div>
 {% endblock %}
 
 {% block content %}
 <div class="overlay"></div>
 <div class="container">
     <div class="row">
         <div class="col">
             <hr>
             <h2 class="logo-font mb-4 text-color">Thank You</h2>
             <hr>
             <p class="my-3">We have received your inquiry.</p>
             <p class="my-3">Our staff will be in touch with you within 48hrs.</p>
             <p class="my-3">Confirmation email has been sent to your email address.</p>
             <br>
         </div>
     </div>
 </div>
 
 {% endblock %}